body {
  background: red; }

h1 {
  color: white; }

.block {
  background: #00ffff; }
  .block h1 {
    color: #004000; }
  .block p {
    background: #ff8000;
    margin: 10px 0px 0px 0px; }
  .block::before {
    content: '';
    position: absolute;
    color: #004040; }
